a {
    color: $base-light;
    transition: .5s;
    border-radius: 5px;
    // &:focus &:hover {
    //     text-decoration: none;

    // }
}
a:hover, a:focus {
    text-decoration: none;
    color: scale-lightness($secondary-color, 10%);
    background-color: scale-saturation($background, 99%);
}

html, body {
    width: 100%;
    height: 100%;
    font-family: $font-stack;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: $font-stack;
}
