@keyframes swing {
    0% {
        transform: rotateY(40deg);
        text-shadow: 9px 3px 3px $header-dark;
    }

    50% {
        transform: rotateY(-40deg);
        text-shadow: -9px 3px 3px $header-dark;
    }

    100% {
        transform: rotateY(40deg);
        text-shadow: 9px 3px 3px $header-dark;
    }

}
.jumbotron {
    height: 80%;
    width: 100%;
    background: #888888 url("../../img/main_background.jpg") no-repeat center;
    //background-position: 0 -20em;
    font-family: $font-stack;
    color: $header-color;
    perspective: 1000px;

    header {
        position: relative;
        top: -3.5em;

        @media only screen and (max-width: 899px) {
            top: -8.5em;
        }
        @media only screen and (max-width: 699px) {
            top: -6.5em;
        }
    }

    h1 {
        @include adjust-font-size-to(165px);
        transform: rotateY(40deg);
        text-shadow: 5px 3px 2px $header-dark;
        animation-name: swing;
        animation-duration: 3.5s;
        animation-timing-function: ease-in-out;
        // animation-delay: .2s;
        animation-iteration-count: infinite;
        &:hover {
            // animation: none;
            // transform: rotateY(0deg);

        }
        @media only screen
            and (min-device-width: 375px)
            and (max-device-width: 800px)
            and (-webkit-min-device-pixel-ratio: 2), (max-width: 899px) {
                @include adjust-font-size-to(85px);
          }
    }

    h2 {
        @include adjust-font-size-to(35px);
        @include leader(1, 35px);
        padding: 0;
        font-style: italic;
        text-shadow: 5px 3px 2px $header-dark;

        @media only screen
                and (max-device-width: 667px)
                and (-webkit-min-device-pixel-ratio: 2), (max-width: 899px) {
                    @include adjust-font-size-to(35px);

              }
        i {
            @include adjust-font-size-to(45px);
            margin-top: 1em;
            text-shadow: 5px 3px 2px $header-dark;


        }
        // perspective: 1000px;
        // .fa-flash {
        //     transform: rotateY(-70deg);
        //     &:hover {
        //         transform: rotateY(75deg);
        //     }
        // }
    }

    header {
        margin-top: 10em;
    }

}

// SubHeaders
.subheading {
    h2 {
    @include adjust-font-size-to(55px);
    @include trailing-border(5px, 0.5, 55px, solid);
    color: $base-dark;
    text-shadow: -3px 3px 2px rgba($backing-color, 0.6);
}
}
