nav {
    // z-index: 10;
    // width: 100%;
    // padding-top: 3em;
    // background: linear-gradient(to bottom,$base-dark, $base-light);

}


.navbar-default {
    background: linear-gradient(to bottom,$base-dark, $base-light);
    margin-bottom: 0;
}

// refactor so not so deep!!
.navbar-default .navbar-nav {
    width: 100%;
    text-align: center;
    .nav-link {
        float: none;
        display: inline-block;
        margin-right: 2em;
        a {
            text-decoration: none;
            color: #7DB395;
            font-style: normal;
            -webkit-transition: color .6s linear, font-style .4s ease-in-out;
               -moz-transition: color .6s linear, font-style .4s ease-in-out;
                -ms-transition: color .6s linear, font-style .4s ease-in-out;
                 -o-transition: color .6s linear, font-style .4s ease-in-out;
                    transition: color .6s linear, font-style .4s ease-in-out;
            &:hover {
                color: #FFCD66;
            }
        }

    }
  }


.slide {
    display: inline-block;
    width: auto;
    margin-right: 8em;
}
nav li {
    list-style: none;
    font-size: 3em;
}

nav ul {
    height: 100%;
    text-align: center;
}


