.navbar-fixed-top {
    background-color: rgba($base-dark,1);
    transition: background-color 2s ease 0s;
    margin-bottom: 0;
    border: 0;
    height: 5em;
}

.navbar-fixed-top.opaque {
    background-color: rgba($base-dark,0.7);
    transition: background-color 2s ease 0s;
}



.navbar-default .navbar-nav {
    width: 100%;
    text-align: center;
    @media only screen and (max-width: 799px) {
        background: rgba($base-dark, 1);
        width: 100%;
        margin: auto;
        &.opaque {
            background-color: rgba($base-dark,0.7);
            transition: background-color 2s ease 0s;
        }
    }
    .nav-link {
        @include adjust-font-size-to(50px);
        float: none;
        display: inline-block;
        margin-right: 2em;
        @media only screen and (max-width: 1100px) {
            margin-right: 0;
        }
        @media only screen and (max-width: 799px) {
            display: block;

        }

        a {
            text-decoration: none;
            color: $light-comp;
            font-style: normal;
            text-shadow: -20px -5px 5px lighten($base-dark, 5%);
            transition: color .9s linear, text-shadow .6s ease-out;

            &:hover, &:focus, &:active {
                color: $comp;
                text-shadow: 2px 2px 2px lighten($base-dark, 30%);
            }
        }

    }
  }


