#skills {
    h3 {
        @include adjust-font-size-to(23px);
        @include leader(0.25, 23px);
        font-style: italic;
        color: $comp;

        @media only screen and (max-width: 699px) {
            @include adjust-font-size-to(20px);
            @include leader(0.25, 20px);
        }
    }

    div {
        @include adjust-font-size-to(25px);

        @media only screen and (max-width: 699px) {
            @include adjust-font-size-to(23px);
            margin-top: 0.5em;
        }
    }

}