// font
$font-stack: 'Alegreya Sans SC', sans-serif;
$header-font: 'Macondo', cursive;


// colors
$base-color: #2C4019;
$base-dark: darken($base-color, 10%);
$base-light: lighten($base-color, 10%);
$background: lighten($base-color, 60%);

$comp: #514B23;

$header-color: #B38535;

$secondary-color: #087E8B;
$backing-color: #0D1321;
