

@import 'media-query';

html, body, nav, li, header,
h1, h2, h3, h4, h5, ul, ol,
p, a, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Alegreya Sans SC', sans-serif;
}


.navbar-nav {
    width: 100%;
    text-align: center;
    li {
      float: none;
      display: inline-block;
      margin-right: 2em;
    }
  }

html {
    font-size: 16px;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Alegreya Sans SC', sans-serif;
}

body {
    background: #F3FFF9;
    font-size: 62.5%;
    color: #2D4C3C;
}
nav {
    z-index: 10;
    width: 100%;
    padding-top: 3em;
    background: linear-gradient(to bottom, #18260B, #2C4019, #354C1E, #37541B, #42661D);
    box-shadow: 0px 40px 50px #999;
}

.slide {
    display: inline-block;
    width: auto;
    margin-right: 8em;
}
nav li {
    list-style: none;
    font-size: 3em;
}

nav ul {
    height: 100%;
    text-align: center;
}

header, main {
    width: 65%;
    margin: 0 auto;
    text-align: center;
}


header {
    color: #2D4C3C;
    font-weight: bold;
    border-bottom: 1px solid #0F1905;
    margin: 0 auto 1em auto;
    width: 100%;
}

a {
    text-decoration: none;
    color: #fff;
}

section {
    margin-bottom: 1.3em;
    width: 100%;
}

footer {
    background: linear-gradient(to top, #080C03, #15210A, #202E12, #30451B, #3B591E);
    color: #FFB319;
    height: 25%;
    position: relative;
}

.main-header {
    text-align: center;
    height: 80%;
    width: 100%;
    background: #888888 url("../../images/main_background.jpg") no-repeat center;
    background-position: 0 -20em;
    color: #B38535;
    box-shadow: 0px 4.5em 30em #ddd inset;
}

.main-header h1 {
    padding-top: 5%;
    font-size: 1500%;
    font-weight: normal;
    /*text-shadow: -5px 3px 1px #261605*/
}

.main-header h2 {
    font-size: 450%;
    padding: 0;
    font-weight: normal;
}

h1 {
    font-family: 'Macondo', cursive;
    /*font-family: 'Tangerine', cursive;*/
    /*font-family: egyptian serif;*/
}

h2 {
    font-size: 5em;
}

h3 {
    font-size: 2.3em;
}

nav a {
    text-decoration: none;
    color: #7DB395;
    font-style: normal;
    -webkit-transition: color .6s linear, font-style .4s ease-in-out;
       -moz-transition: color .6s linear, font-style .4s ease-in-out;
        -ms-transition: color .6s linear, font-style .4s ease-in-out;
         -o-transition: color .6s linear, font-style .4s ease-in-out;
            transition: color .6s linear, font-style .4s ease-in-out;
}

nav a:hover, nav a:focus {
    color: #FFCD66;
}

p {
    font-size: 250%;
    line-height: 130%;
    color: #2D4C3C;
}

a {
    color: #55990F;
}

p a:hover, p a:focus {
    color: #CCAE14;
}

.projects {
    width: 100%;
    margin: 0 auto;
}

.service-calculator {
    background: #999 url('../../images/serviceCalculator.png') no-repeat center;
}

.streaming-app {
    background: #999 url('../../images/twitchTV.png') no-repeat;
    background-position: -13em;


}

.pomodoro-timer {
    background: #999999 url('../../images/pomodoro-timer.png') no-repeat center;
}

.fcc-news {
    background: #999999 url('../../images/fcc-news.png') no-repeat center;
}

.calculator {
    background: #999999 url('../../images/calculator.png') no-repeat center;
}

.photo-gallery {
    background: #999999 url('../../images/photo-gallery.png') no-repeat center;
}

.weather-app {
    background: #999999 url('../../images/weather-app.png') no-repeat center;
}

.random-quote {
    background: #999999 url('../../images/random-quote.png') no-repeat center;
}

.project {
    height: 30em;
    width: 60%;
    box-shadow:
        -.5em .5em .7em #28332E,
        .5em -.5em .7em #28332E,
        .5em .5em .7em #28332E,
        -.5em -.5em .7em #28332E;
    border-radius: 1.5em;
    margin: 1.5em auto;
    -webkit-transition: box-shadow 0.3s ease-in-out;
       -moz-transition: box-shadow 0.3s ease-in-out;
        -ms-transition: box-shadow 0.3s ease-in-out;
         -o-transition: box-shadow 0.3s ease-in-out;
            transition: box-shadow 0.3s ease-in-out;
}

.project:hover, .project:focus {
    box-shadow:
        -.1em .1em .5em #28332E,
        .1em -.1em .5em #28332E,
        .1em .1em .5em #28332E,
        -.1em -.1em .5em #28332E;

}

h3 {
    color: #2D4C3C;
    font-weight: bold;
}

.skills-of-focus {

}

.skill {
    display: inline-block;
    margin: 0.5em 1.25em;
    box-sizing: border-box;
    color: #000;
}

.skill a {
    color: #000;
    font-size: 2.5em;
}

.python {

}
.contact {
    width: 40%;
    position: relative;
    top: 1em;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 2em;
    height: auto;
    text-align: center;
}

.social-link {
    display: inline-block;
    font-size: 4em;
    margin-right: 0.5em;
    -webkit-transition: font-size 0.2s linear;
       -moz-transition: font-size 0.2s linear;
        -ms-transition: font-size 0.2s linear;
         -o-transition: font-size 0.2s linear;
            transition: font-size 0.2s linear;
}

.social-link:hover, .social-link:focus {
    font-size: 4.3em;
}

.social-links li.other-link a {
    font-size: 2em;
    color: #492C14 !important;
    list-style: none;
}

.social-links li.other-link a:hover, .social-links li.other-link a:focus {
    font-size: 2.1em;
}



.other-interest ul li {
    list-style: none;
    display: inline-block;
    vertical-align: top;
    margin: 0 .5em;
    font-size: 2.25em;
}


.other-interest ul li a:hover, .other-interest ul li a:focus {
    color: #CCAE14;
}

#contact header {
    color: #FFB319;
    width: 50%;
    margin: 0 auto;
    border-bottom: 1px solid #FFB319;
}

