/**

    TODO:
    - Have navigation into section that when moused over slide up to reveal hidden photo
    - main background should be white
    - decide on if only one page with links that scroll or multiple pages.

**/

/*
Base color Hue: 90 deg; Can go to 30-150 deg.

Hue:90
Saturation:65
Value/ligthness:50
 */

html, body, nav, li, header,
h1, h2, h3, h4, h5, ul, ol,
p, a, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Alegreya Sans SC', sans-serif;
}

html {
    font-size: 16px;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Alegreya Sans SC', sans-serif;
}

body {
    background: #F3FFF9;
    font-size: 62.5%;
    color: #2D4C3C;
}
nav {
    z-index: 10;
    width: 100%;
    padding-top: 30px;
    background: linear-gradient(to bottom, #18260B, #2C4019, #354C1E, #37541B, #42661D);
}

.slide {
    display: inline-block;
    width: auto;
    margin-right: 8em;
}
nav li {
    list-style: none;
    font-size: 3em;
}

nav ul {
    height: 100%;
    text-align: center;
}

header, main {
    width: 100em;
    margin: 0 auto;
    text-align: center;
}


header {
    color: #2D4C3C;
    font-weight: bold;
    border-bottom: 1px solid #0F1905;
    margin: 0 auto 1em auto;
    width: 70em;
}

a {
    text-decoration: none;
    color: #fff;
}

section {
    margin-bottom: 1.3em;
}

footer {
    background: linear-gradient(to top, #080C03, #15210A, #202E12, #30451B, #3B591E);
    color: #FFB319;
    height: 20em;
    position: relative;
}

.main-header {
    text-align: center;
    height: 65em;
    width: auto;
    background: #888888 url("../images/main_background.jpg") no-repeat center;
    background-position: 0 -20em;
    color: #B38535;
}

.main-header h1 {
    padding-top: 1em;
    font-size: 17em;
    font-weight: normal;
    /*text-shadow: -5px 3px 1px #261605*/
}

.main-header h2 {
    font-size: 5em;
    padding: 0;
    font-weight: normal;
}

h1 {
    font-family: 'Macondo', cursive;
    /*font-family: 'Tangerine', cursive;*/
    /*font-family: egyptian serif;*/
}

h2 {
    font-size: 5em;
}

h3 {
    font-size: 2.3em;
}

nav a {
    text-decoration: none;
    color: #7DB395;
    font-style: normal;
    -webkit-transition: color .6s linear, font-style .4s ease-in-out;
       -moz-transition: color .6s linear, font-style .4s ease-in-out;
        -ms-transition: color .6s linear, font-style .4s ease-in-out;
         -o-transition: color .6s linear, font-style .4s ease-in-out;
            transition: color .6s linear, font-style .4s ease-in-out;
}

nav a:hover, nav a:focus {
    color: #FFCD66;
}

p {
    font-size: 2.5em;
    line-height: 1.3em;
    color: #2D4C3C;
}

a {
    color: #55990F;
}

p a:hover, p a:focus {
    color: #CCAE14;
}

.projects {
    width: 70em;
    margin: 0 auto;
}
.photo-gallery {
    background: #999999 url('../images/photo-gallery.png') no-repeat center;
}

.weather-app {
    background: #999999 url('../images/weather-app.png') no-repeat center;
}

.random-quote {
    background: #999999 url('../images/random-quote.png') no-repeat center;
}

.project {
    height: 33em;
    width: 70em;
    box-shadow:
        -.5em .5em .7em #28332E,
        .5em -.5em .7em #28332E,
        .5em .5em .7em #28332E,
        -.5em -.5em .7em #28332E;
    border-radius: 1.5em;
    margin: 1.5em auto;
    -webkit-transition: box-shadow 0.3s ease-in-out;
       -moz-transition: box-shadow 0.3s ease-in-out;
        -ms-transition: box-shadow 0.3s ease-in-out;
         -o-transition: box-shadow 0.3s ease-in-out;
            transition: box-shadow 0.3s ease-in-out;
}

.project:hover, .project:focus {
    box-shadow:
        -.1em .1em .5em #28332E,
        .1em -.1em .5em #28332E,
        .1em .1em .5em #28332E,
        -.1em -.1em .5em #28332E;

}

h3 {
    color: #2D4C3C;
    font-weight: bold;
}

.skills-of-focus {

}

.skill {
    display: inline-block;
    margin: 0.5em 1.25em;
    box-sizing: border-box;
    color: #000;
}

.skill a {
    color: #000;
    font-size: 2.5em;
}

.python {

}
.contact {
    width: 50em;
    position: relative;
    top: 1em;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 2em;
    height: auto;
    text-align: center;
}
.social-link {
    margin: 1.5em 1em 1.5em 1em;
    display: inline-block;
}
.github {
    text-indent: -99999px;
    background: #fff url('../images/GitHub-Mark-32px.png') no-repeat center;
    width: 3.2em;
    height: 3.2em;
    display: block;
}
.codepen {
    text-indent: -99999px;
    background: #fff url('../images/Button-Fill-Black-Small.png') no-repeat center;
    width: 3.2em;
    height: 3.2em;
    display: block;
}

.linkedin {
    text-indent: -99999px;
    background: #fff url('../images/In-2CRev-34px-R.png') no-repeat center;
    width: 3.2em;
    height: 3.2em;
    display: block;
    background-position: 0 0;
}

.other-interest ul li {
    list-style: none;
    display: inline-block;
    vertical-align: top;
    margin: 0 .5em;
    font-size: 2.25em;
}


.other-interest ul li a:hover, .other-interest ul li a:focus {
    color: #CCAE14;
}

#contact header {
    color: #FFB319;
    margin: 0 auto;
    border-bottom: 1px solid #FFB319;
}


